// /* burger */

.hamburger {
  width: 50px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
  position: relative;

  &__lines {
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    background-color: white;
  }

  &__lines1 {
    top: 0;
    right: 0;
  }

  &__lines2 {
    top: 50%;
    // transform: translateY(-50%);
  }

  &__lines3 {
    bottom: 0;
    right: 0;
  }

  
  &__links {

    gap: 8px;
    display: none;

    @media screen and (max-width: $breakpoints-lg) {
      display: flex;
      flex-direction: column; 
  }
  }

  &__link:hover {
    color: $color-gold;
    text-decoration: underline $color-gold;
  }

}
.hamburger__menu {
  &_active {
    transform: translateX(0);
  }
  width: 450px;
  height: 100vh;
  position: fixed;
  background-color: #111111;
  right: 0;
  top: 0;
  transform: translateX(150%);
  transition: all 0.5s;
  z-index: 40;
  
}
.hamburger__text {
  padding-bottom: 80px;
  @media screen and (max-width: $breakpoints-lg) {
    padding-bottom: 0px;
   }
}
.hamburger__telefon {
  &:hover {
    color: $color-gold;
  }
}

.hamburger__container {
  max-width: 315px;
  margin: auto 0 auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @media screen and (max-width: $breakpoints-lg) {
 gap:40px;
}
}
.hamburger__items {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hamburger__title {
  font-size: 24px;
  padding-bottom: 25px;
  font-family: "EB Garamond";
}
.hamburger__inner {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 15px;
  font-family: "Cormorant Garamond";
}

.cross {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 80px;
  top: 48px;
  transition-duration: 0.25s;
  cursor: pointer;

  &__lines {
    background-color: white;
    width: 28px;
    height: 2px;
    z-index: 20;
    position: absolute;
    display: block;
  }
  &__lines1 {
    transform: rotate(45deg);
    top: 50%;
  }
  &__lines2 {
    transform: rotate(-45deg);
    top: 50%;
  }
}

.cross:hover {
  transform: rotate(90deg);
}
