.logo {
  &__svg:hover path {
    fill: $color-gold;
    transition: all 0.2s;
  }

  &__svg {
    @media screen and (max-width: $breakpoints-lg) {
      width: 40px;
      height: 40px;
      }
  }

}
