.nav {
  
  width: 100%; 
  position: fixed;
  font-family: 'Cormorant Garamond';
  z-index: 10;
  &__items {
    margin: 0 auto;
    max-width: 1296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba($color:white, $alpha: 0.5) 0.2px solid;
    padding: 30px 0;
  }
  &__links {
    display: flex;
    gap: 80px;
    border-bottom: transparent solid 1px;
  }

  &__link:hover {
    color: $color-gold;
    border-bottom: $color-gold 1px solid;
  }
}
