.price {
  &__container {
    display: flex;
    max-width: 1326px;
    margin: 0 auto;
    gap: 134px;
    align-items: center;
    padding-bottom: 80px;
    font-family: "EB Garamond";
  }
  &__left {
    width: 50%;
  }
  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(255, 255, 255, 0.5) 0.2px solid;
  }
  &__title,&__sum {
    font-size: 27px;
    font-weight: 700;
    line-height: 35.1px;
  }
  &__subtitle {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
  }
}
